html
  head
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

  body
    #main
      #contactform
        title AJ | Contact Me
        link(rel='stylesheet', href='stylesheets/contact.css')
        link(rel='stylesheet', href='stylesheets/unsemantic-grid-responsive-tablet.css')
        script(type='text/javascript', src="https://www.google.com/recaptcha/api.js")

        //Navbar
        include nav/navbar.jade

        // Content
        .content.grid-50.mobile-grid-50.tablet-grid-50.push-25.mobile-push-25.tablet-push-25

          if(typeof msg !== 'undefined')
            if(!!err)
              h1.error Eh...
              h3 Something went wrong when sending an email to this guy. Yell at him on twitter to fix me!
            else
              h1.success Thanks for getting in touch!
              h3 I'll reply as soon as I do this one thing...
          else
            h1 Email Me!
            if(typeof formErr !== 'undefined')
              h3.formErr Uh oh

            form(action='/contact', class='contform' method='post')
              fieldset
                
                label(for='name') Name
                if(typeof name !== 'undefined')
                  input(name='name', type='text', placeholder='Aubrey Graham', id='name', value="#{name}" required)
                else
                  input(name='name', type='text', placeholder='Aubrey Graham', id='name' value="" required)
                if(typeof nameErr !== 'undefined')
                  p.formErr #{nameErr}


                
                label(for='email') Email
                if(typeof email !== 'undefined')
                  input(name='email', type='text', placeholder='ammar@javed.com', id='email', value="#{email}" required)
                else
                  input(name='email', type='text', placeholder='ammar@javed.com', id='email', value="" required)
                if(typeof emailErr !== 'undefined')
                  p.formErr #{emailErr}


                label(for='subject') Subject
                if(typeof subject !== 'undefined')
                  input(name='subject', type='text', placeholder="Let's chill!", id='subject', value="#{subject}" required)
                else
                  input(name='subject', type='text', placeholder="Let's chill!", id='subject', value="" required)
                if(typeof subjectErr)
                  p.formErr #{subjectErr}

                
                label(for='message') Message
                textarea(name='message', cols='40', rows='10', id='message' required)
                  if(typeof message !== 'undefined')
                    | #{message}
                if(typeof messageErr)
                  p.formErr #{subjectErr}

                // Captcha for the bots
                div(data-sitekey="6LdMYQ8TAAAAAP0m1W67JisQenu63NEA79I-h1ti").g-recaptcha
                if(typeof captchaErr !== 'undefined')
                  p.formErr #{captchaErr}


                label
                input(name='submit', type='submit', value='Send', id='submit')

        // Footer
        include footer/footer.jade

    link(rel='stylesheet', href='stylesheets/common.css')
    link(rel='stylesheet', href='stylesheets/animate.css')
    script(rel='javascript', src="lib/jquery.smoothState.min.js")
    script(rel='javascript', src='js/controller.js')